* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-orcamento {
    padding: 40px 80px;
    background-color: white;
    height: 100vh;
}
.section-orcamento > h2 {
    color: rgb(57, 9, 172);
    font-weight: 900;
    font-size: 30px;
}
